/*home page css code*/

body {
  margin: 60px 60px 40px 60px;
  padding: 0;
  background-color: rgb(16, 16, 16);
}

.indexbody {
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.skip {
  position: absolute;
  left: -1000px;
  top: 10px;
  width: 1px;
  height: 25px;
  overflow: hidden;
  background-color: white;
}

.skip:focus {
  position: static;
  width: auto;
  top: 10px;
}

nav li {
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  font-size: 20px;
  margin: 40px 40px 40px 20px;
}

nav li :hover {
  text-decoration: underline;
}

nav ul li a.active {
  text-decoration: underline;
}

nav ul li a {
  color: white;
  font-weight: 500;
  text-decoration: none;
}

.home h1 {
  font-size: 50px;
  margin: 180px 0 40px -20px;
  line-height: 1.2;
  color: white;
}

.home p {
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 40px -20px;
  color: rgb(201, 201, 201);
}

.explore_button {
  display: inline-block;
  padding: 15px 35px;
  margin: 10px 0 0 -20px;
  background-color: #8363E8;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.explore_button:hover {
  background-color: #392286;
  text-decoration: none;
  color: white;
}

.content_container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.home {
  flex: 1;
  padding: 40px;
}

/*songs page css code part 1*/

h2 {
  font-size: 25px;
  color: white;
  display: inline-block;
  margin: 50px 20px 20px 20px;
  position: relative;
  align-self: flex-start;
}

h2::after {
  content: '';
  display: block;
  width: 50%;
  height: 4px;
  background-image: linear-gradient(to left, transparent, #8363E8);
  position: absolute;
  left: 0;
  transform: translateX;
  bottom: -15px;
}

.album_collection {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  margin: 20px 40px 40px 20px;
  gap: 20px;
  align-content: center;
}

.favorite_bands {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 20px 40px 40px 20px;
}

.jane {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.westlife_album {
  grid-column: 3;
  grid-row: 1;
}

.coast {
  grid-column: 4;
  grid-row: 1;
}

.four {
  grid-column: 3;
  grid-row: 2;
}

.v {
  grid-column: 4;
  grid-row: 2;
}

.favorite_bands ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 40px;
  list-style-type: none;
  padding: 0;
}

.favorite_bands li {
  margin-bottom: 10px;
  display: flex;
}

.favorite_bands h3 {
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.band_container {
  background-color: #282828;
  border-radius: 15px;
  padding: 10px 0 10px 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.band_container img {
  width: 50px;
  height: 50px;
}

.album_collection img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/*songs page css code part 2*/

.part2_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.songs_container {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #282828;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 60px;
  transition: transform 0.3s ease;
}

.songs_container:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.songs_container img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.songs_container h4 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin: 20px 10px 10px 10px;
}

.songs_container h5 {
  font-size: 16px;
  font-weight: 400;
  color: rgb(181, 181, 181);
  margin: 0 10px 10px 10px;
}

.spotify_container {
  margin: 20px 15px 50px 15px;
  overflow: hidden;
  max-width: 100%;
}

/*mv page css code*/
.mvbody {
  height: 100%;
  margin: 60px 60px 40px 60px;
  padding: 0;
  overflow-x: hidden;
}

#background_video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  object-fit: cover;
}

#overlay_rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 1;
}

header {
  position: relative;
  z-index: 10;
}

/*video page css code*/

#video_background video {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.background-video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.mvbody h2 {
  margin-top: 950px;
}

.additional-videos-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  margin: 20px;
  gap: 20px;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282828;
  border-radius: 15px;
  padding: 15px;
}

.video-container video {
  width: 100%;
  height: auto;
}

.video-container button {
  width: 100%;
  margin-top: 10px;
  font-size: 15px;
  background-color: #8363E8;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  transition: background-color 0.3s;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  gap: 10px;
}

.video-container button:hover {
  background-color: #392286;
}

@media (max-width: 480px) {

  /*home page css code*/
  nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
  }

  nav li {
    display: block;
    margin: 0 20px 20px 20px
  }

  .home h1 {
    margin: 30px 0 40px -20px;
  }

  /*songs page css code part 1*/

  .album_collection {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, auto);
    display: grid;
  }

  .jane {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .westlife_album {
    grid-column: 3;
    grid-row: 1;
  }

  .coast {
    grid-column: 3;
    grid-row: 2;
  }

  .four {
    grid-column: 4;
    grid-row: 1;
  }

  .v {
    grid-column: 4;
    grid-row: 2;
  }

  .favorite_bands ul {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }

  .part2_container {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  /*video page css code*/

  #video_background video {
    width: auto;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .additional-videos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .video-container {
    width: 100%;
    /* Optional: Adjust the width as needed */
    margin-bottom: 10px;
    /* Add space between each video-container */
  }

  .video-container video {
    width: auto;
    /* Video takes full width of its container */
    height: auto;
    /* Height adjusts to maintain aspect ratio */
  }
}